.main {
  text-align: center;
  float: left;
  width: 20%;
  display: table;
  margin: 25px ;
}
.btn2 {
  margin-left: 1%;
}

/* CSS for input field */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
