.house-img{
display: flex;
}

.f-img{
    width: 50%;
    
}

h2{
    font-size: 2em;
    align-items: left;
    color:black;
    line-height: 1em;
    padding: 20px 0 10px 20px;
    font-weight: 700;
}
.about p{
    padding-left: 20px;
    font-size: 1.3em;
    font-weight: 100;
}

li{
        padding-left: 20px;
        font-size: 1.3em;
        font-weight: 100;
}

.btn{

    padding-left: 20px;
}


